body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.main {
  background-image: url('login.png');
  font-family: 'Times New Roman', Times, serif;
}

.info-user {
  vertical-align: auto;
  height: 40px;
  width: 250px;
  font-family: 'Times New Roman', Times, serif;
}

#info-task {
  width: 450px;
  font-family: 'Times New Roman', Times, serif;
}

#link-cabecalho {
  padding-left: 10px;
  font-size: 15px;
  vertical-align: auto;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#link {
  font-size: 17px;
  vertical-align: auto;
  font-family: 'Times New Roman', Times, serif;
}

#button-login {
  font-weight: bold;
  background-color: #5D9B9B;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}

.blogoff {
  float: right;
  font-family: 'Times New Roman', Times, serif;
}

#button-task {
  color: black;
  margin: 0 10px;
  font-weight: bold;
  background-color: #5D9B9B;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
}

#texto-inicial {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

#login {
  position: absolute;
  margin: 150px 180px;
  background: fixed;
  width: 960px;
  height: 500px;
  background-image: url('login.png');
  font-family: 'Times New Roman', Times, serif;
}

#info-login {
  justify-content: center;
  margin: -60px 300px;
  text-align: center;
  font-size: 25px;
  background-image: url('login.png');
  font-family: 'Times New Roman', Times, serif;
}

#tarefa {
  margin: 20px 20px 20px 280px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-style: initial;
}

#cabecalho {
  background-image: linear-gradient(to right, #5D9B9B, #969696, #dcdcdc);
  height: 40px;
  vertical-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#cadastro-login {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.tasks {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.title-task {
  height: 40px;
  width: 200px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.text-task {
  height: 40px;
  width: 400px;
  font-family: 'Times New Roman', Times, serif;
}

.user-task {
  height: 40px;
  width: 200px;
  font-family: 'Times New Roman', Times, serif;
}

#fonte {
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

#fonte-tarefa {
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

h1 {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.tolbar {
  background-color: #5D9B9B;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.usuario-dados {
  margin: 20px 20px 20px 280px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  float: left;
}

.dados-user {
  background-color: #cfcfcf;
  width: 500px;
  height: 30px;
  text-align: left;
  vertical-align: center;
}

.dados-user-um {
  background-color: #cfcfcf;
  width: 200px;
  height: 30px;
  text-align: left;
  vertical-align: center;
}

.list-tar {
  padding-right: 15px;
}

#button-alt {
  background-color: #e28d7c;
  font-size: 10px;
  font-weight: bold;
  margin: 0 10px;
}

#info-login-cadastro {
  justify-content: center;
  margin: -110px 300px;
  text-align: center;
  font-size: 25px;
  background-image: url('login.png');
  font-family: 'Times New Roman', Times, serif;
}

.cadastro-user {
  margin: 0 0 20px 0;
  vertical-align: auto;
  font-family: 'Times New Roman', Times, serif;
  width: 350px;
}

.cadastro-um {
  margin: 0 0 20px 0;
  vertical-align: auto;
  font-family: 'Times New Roman', Times, serif;
  width: 150px;
}

#texto-cadastro {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

#nome-draw{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

#observacao{
  font-size: 12px;
}