body {
  margin: 0;
}

.main {
  background-image: url('login.png');
  font-family: 'Courier New', Courier, monospace;
}

#info-user {
  width: 250px;
  font-family: 'Courier New', Courier, monospace;
}

#info-task {
  width: 450px;
  font-family: 'Courier New', Courier, monospace;
}

#link-cabecalho {
  padding-left: 10px;
  font-size: 14px;
  vertical-align: auto;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#link {
  font-size: 18px;
  vertical-align: auto;
  font-family: 'Courier New', Courier, monospace;
}

#button-login {
  font-weight: bold;
  background-color: rgb(106, 255, 47);
  height: 30px;
  width: 150px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

.button-logoff {
  float: right;
}

#button-task {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(79, 123, 204, 0.747);
  text-transform: uppercase;
  font-size: 16px;
}

#texto-inicial {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

#login {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  margin: 150px 180px;
  background: fixed;
  width: 960px;
  height: 500px;
  background-image: url('login.png');
}

#info-login {
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  margin: -60px 300px;
  text-align: center;
  font-size: 25px;
  background-image: url('login.png');
}

#tarefa {
  font-family: 'Courier New', Courier, monospace;
  margin: 50px 200px;
  font-size: 18px;
}

#cabecalho {
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(to right, red, green, yellow, blue);
  height: 40px;
  vertical-align: center;
  color: white;
}

#cadastro-login {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.tasks {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.title-task {
  height: 40px;
  width: 200px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.text-task {
  height: 40px;
  width: 400px;
  font-family: 'Courier New', Courier, monospace;
}

.user-task {
  height: 40px;
  width: 200px;
  font-family: 'Courier New', Courier, monospace;
}

.for-label {
  font-family: 'Courier New', Courier, monospace;
}

#fonte {
  color: black;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
